.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  background: var(--white);
}

.formTitleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 576px;
  height: 52px;
}
.formTitle {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}
.formDescription {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}
.formInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.formInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}
.date {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}
.inputWrapper {
  position: relative;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  font-size: 14px;
}
input:valid + .placeholder {
  display: none;
}

.formComment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  border: none;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  resize: none;
  background: var(--inputs);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}
.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  border: none;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  transition: background-color 0.2s ease;
}

.formButton:hover {
  background: var(--button-hover);
}
